/* Initial configs. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}
li {
  font-size: 1.8rem;
}
/* wrapper */
.wrapper {
  margin: 0 auto;
  border: red dashed 1px;
  width: 1200px;,
}

/* Header css */
.header {
  border: green dashed 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}
.header__items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__items li {
  padding: 1rem;
}
